.container_sideDrawer {
  position: fixed;
  width: 80%;
  height: 80vh;
  top: 0;
  left: 0;
  min-height: 100vh;
  box-shadow: -2px 0px 13px 0px rgba(0, 0, 0, 0.8);
  background-color: rgb(255, 255, 255);
  padding: 5rem;
  z-index: 100;
  overflow-y: scroll;
}

.sideDrwaer_header,
.sideDrwaer_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: rgb(126, 6, 116);
}

.logo {
  fill: red;
  width: 4rem;

  margin-bottom: -1rem;
}
