.container {
  width: 100%;
}

.list-container {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem 2rem;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 100%;
  min-height: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 2px 4px 15px 5px #000000;
  box-shadow: 2px 4px 15px 5px #000000;
  padding: 2rem;
}

.card {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}

.card-text {
  margin-bottom: 0.5rem;
  color: #000;
  font-size: 2rem;
}

@media screen and (max-width: 1250px) {
  .list-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .list-container {
    grid-template-columns: 1fr;
  }
}
